body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.header {
    background-color: burlywood;
    margin: 0;
}

h1 {
    text-align: center;
}

.result{
    font-size: 32px;
    font-weight: bolder;
    margin: 0px;
}

.game {
    display: flex;
    flex-direction: column;
    margin: 16px 16px;
    gap: 64px;

}

.choice {
    display: flex;
    justify-content: space-between;
}

.choice > *{
    width: 100px;
}

p {
    text-align: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 16px;
}

button {
    flex: 1;
    width: 300px;
    height: 200px;
    max-height: 200px;
    font-size: larger;
};

.footer {
    background-color: darksalmon;
}